# Data Handling with Pandas

#### <i style="color:red">**EXERCISES**</i>

___
+ _1. Go to the following URL using your browser and manually download the dataset to your computer. Put the file in the same folder where your notebook is. Finally, use `pd.read_csv()` to read it.
Is there any difference in the data when reading it from the web or reading it from your computer?_

``` Python
url = 'https://raw.githubusercontent.com/MaastrichtU-IDS/global-studies/main/semester2/data/gapminder.csv'

pd.read_csv()

```


**SOLUTION**

The file is the same, there is no difference for Python

In [3]:
import pandas as pd

In [5]:
# From web
url = 'https://raw.githubusercontent.com/MaastrichtU-IDS/global-studies/main/semester2/data/gapminder.csv'
df = pd.read_csv(url)

In [ ]:
# From computer (the file is in the same folder than this notebook)
url = 'gapminder.csv'
df = pd.read_csv(url)

___
+ _2. Use the `help` function for `help(df.head)` and `help(df.tail)` discuss the difference and similarities_


**SOLUTION**

`help()` function can be used for any Python object. When executing it, the Notebook will show useful information of the function or object that is described between parenthesis.

In this case, the function `df.head` shows the first rows in a dataframe. The user can specify how many, e.g. `df.head(5)` for the first 5 elements. Whereas `df.tail` does something similar, with the difference that will show the last elements in the dataframe
e.g. `df.tail(10)` the last 10 elements

___

+ _3. Which one of the following query functions will work and why?_

```python
df.query('year == "1992" ')

df.query('year == 1992 ')

df.query('year = "1992" ')
```


**SOLUTION**

in Python, 1 equal sign "=" represents assignation, whereas 2 equals "==" represents the logical operation of two elements being equal. Therefore the third option won't work
The first two options would work as long as the data type of the column (year in this case) can be interpreted as string or integer

In [11]:
df.query('year == 1992').head(2)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
20,Albania,Europe,1992,71.581,3326498,2497.437901,ALB,8

___
+ _4. Select a whole column from the `df` dataframe with the `df.loc[ , ]` method, and call it `my_column`_

_What would be the purpose of the following function?:_ 

```python
my_column.unique()
```


**SOLUTION**

In [15]:
my_column = df.loc[:,'continent']

# The following function will show the unique elements in the column "continent" regardless of how many times they appear in the dataset
my_column.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

___
+ _5. Just like we created a subset of `Europe 2007`, create another one for `Europe` but this time for the year `1952`._  

_What is the average life expectancy for each year? How much has changed?_


**SOLUTION**

Step 1 - Create the subsets

In [18]:
# Creating subset for europe 1952
df_europe_1952 = df.query('continent == "Europe" & year == 1952')

# Creating subset for europe 2007
df_europe_2007 = df.query('continent == "Europe" & year == 2007')

Step 2 - Calculate the averages

In [23]:
# Calculate the mean (average) of the lifeExp column of
print(df_europe_1952['lifeExp'].mean())

# Calculate the mean (average) of the lifeExp column of 2007
print(df_europe_2007['lifeExp'].mean())

64.40849999999999
77.64859999999999

Around 13 years, the life expectancy has increased on average

___
+ _6. With the help of the command `!pip install` we can install install additional libraries to our Python environment._

_In a new cell, install the library that reads and writes Excel files_

```python
!pip install xlrd
```

Secondly, save the Confusion matrix result in an Excel file  using the Pandas command `DataFrame.to_excel()`_
```Python
table.to_excel('confusion_matrix.xls')
```
___

In [24]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/pedrohserrano/opt/anaconda3/lib/python3.7/site-packages (1.2.0)

A new .xls file need to be created in the same folder that this notebook is situated